<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header>
    <nav class="nav-bar">
        <a href="/" class="logo-text"><img class="logo-header" src="images/Logo.png">
            <h1>Aventyr</h1>
        </a>
        <div class="nav-list">
            <ul>
                <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
                <li class="nav-item"><a href="/productDetail" class="nav-link">Actividades</a></li>
            </ul>
        </div>
        <div class="login-button">
            <button><a class="user" href="/login"><i class="fa-solid fa-user"></i>Ingresar</a></button>
            <button><a class="Register" href="/register">Registrarse</a></button>
            <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="menu-toggle"><i class="fa-solid fa-bars"></i></div>



    </nav>

</header>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Recibí nuestras novedades</h4>
                <ul>
                    <form action="">
                        <div class="email-box">
                            <i class="fa-solid fa-envelope"></i>
                            <input class="tbox" type="email" name="" value="" placeholder="Ingresa tu email">
                            <button class="btn" type="button" name="button">Suscribite</button>
                        </div>
                    </form>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Links</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Quienes somos</a></li>
                    <li><a href="/productDetail">Actividades</a></li>
                    <li><a href="">Seguridad</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Redes Sociales</h4>
                <div class="redes-sociales">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></i></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

        </div>
    </div>      
</footer>

