<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/productCartstyles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="styleSheet" href="css/header-footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />    
</head>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a href="/" class="logo-text"><img class="logo-header" src="images/Logo.png">
                <h1>Aventyr</h1>
            </a>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
                    <li class="nav-item"><a href="/productDetail" class="nav-link">Actividades</a></li>
                </ul>
            </div>
            <div class="login-button">
                <button><a class="user" href="/login"><i class="fa-solid fa-user"></i>Ingresar</a></button>
                <button><a class="Register" href="/register">Registrarse</a></button>
                <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="menu-toggle"><i class="fa-solid fa-bars"></i></div>
    
    
    
        </nav>
    
    </header>
    
    <main>

        <div class="cart-container">

            <div class="file-txt">
                <ul class="list-txt">
                    <li>Lista de productos</li>
                </ul>
                <ul class="product-txt">
                    <li>Cantidad</li>
                    <li>Subtotal</li>
                    <li>Cancelar</li>
                </ul>
            </div>

            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>
            <div class="product-container">
                <img class="product-image" src="/images/logo.jpg" alt="product-image">
                <div class="description">
                    Aca va la descripcion de la compra
                </div>
                <div class="box">
                    <div class="box-container">
                        <div class="box-amount">
                            <select name="Cantidad" id="cantidad">
                                <option value="1persona" selected>1 persona</option>
                                <option value="2persona">2 personas</option>
                                <option value="3persona">3 personas</option>
                                <option value="4persona">4 personas</option>
                                <option value="5persona">5 personas</option>
                                <option value="6persona">6 personas</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="box-subtotal">Subt</div>
                    </div>
                    <div class="box-container-x">
                        <div class="box-cancel">X</div>
                    </div>
                </div>
            </div>

            <div class="product-total">
                <div class="total-products">TOTAL</div>
                <div class="go-pay">
                    <a href="/">IR A PAGAR</a>
                </div>
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Recibí nuestras novedades</h4>
                    <ul>
                        <form action="">
                            <div class="email-box">
                                <i class="fa-solid fa-envelope"></i>
                                <input class="tbox" type="email" name="" value="" placeholder="Ingresa tu email">
                                <button class="btn" type="button" name="button">Suscribite</button>
                            </div>
                        </form>
    
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/">Quienes somos</a></li>
                        <li><a href="/productDetail">Actividades</a></li>
                        <li><a href="">Seguridad</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Redes Sociales</h4>
                    <div class="redes-sociales">
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></i></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
    
            </div>
        </div>      
    </footer>
</body>

</html>
