<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismo Aventura</title>
    <link rel="stylesheet" href="/css/productDetailStyles.css">
    <link rel="styleSheet" href="css/header-footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
    <header>
        <nav class="nav-bar">
            <a href="/" class="logo-text"><img class="logo-header" src="images/Logo.png">
                <h1>Aventyr</h1>
            </a>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
                    <li class="nav-item"><a href="/productDetail" class="nav-link">Actividades</a></li>
                </ul>
            </div>
            <div class="login-button">
                <button><a class="user" href="/login"><i class="fa-solid fa-user"></i>Ingresar</a></button>
                <button><a class="Register" href="/register">Registrarse</a></button>
                <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="menu-toggle"><i class="fa-solid fa-bars"></i></div>
    
    
    
        </nav>
    
    </header>

    <main>

        <h2 id="titulo1">Trekking</h2>

        <img class="slider-image" src="/images/Trekking.JPG" alt="Trekking">
        <section>
            <article>

                <p class="description">El trekking consiste en el desarrollo de caminatas por un entorno natural y abierto
                    con fines recreativos.
                    Nosotros elegimos comenzar esta actividad desde rp13, así podremos observar las espectaculares
                    vistas de Villa Pehuenia, Moquehue y sus lagos.
                    lVamos a acceder desde RP13, recorriendo desde el centro cívico de Villa Pehuenia 12 kilómetros
                    hacia el norte con destino a Paso del Arco. Está actividad será realizada los días martes y jueves
                    de 9 a 11 a.m.
                    Es necesario traer ropa deportiva cómoda y zapatillas.
                </p>
            </article>
        </section>

        <section>

            <h2 id="titulo2">Kayac</h2>

            <img class="slider-image"src="/images/kayac.jpg"  alt="Kayac">

            <article>

                <p class="description">El método o técnica para ir en kayak es mediante unas palas o remos, los cuales
                    propulsan el kayak al introducirlos en el agua. El tripulante o tripulantes se encargan de de
                    realizar el
                    movimiento continuo y simultáneo para mover el kayak, consiguiendo así moverse hacia delante o
                    hacia atrás.
                    Nosotros realizaremos esta hermosa actividad en el Río Aluminé es uno de los ríos más poderosos
                    de nuestro país. El Circuito Superior, comienza en el paraje Lonco Luan y recorre 14 kilómetros
                    río abajo. Esta actividad tiene una duracion de 2 horas y media.

                    El equipo necesario para practicar esta actividad en el río consiste en Kayak, traje de
                    neopreno, que te protege contra las bajas temperaturas del agua, casco, faldón, remo de doble
                    pala y chaleco salvavidas. (El chaleco se alquila aparte, y tiene un costo de $1000.- )
                </p>
            </article>

        </section>

        <section>

            <h2 id="titulo3">Rappel </h2>

           <img class="slider-image" src="/images/rappel.jpg"  alt="Rappel">

            <article>
                <p class="description">
                    El rápel o también llamado rappel es un método de descenso por cuerda. Es utilizado en
                    superficies verticales una pared o un tiro vertical.
                    El rápel suele ser utilizado en espacios abiertos o actividades tales como el barranquismo,
                    montañismo, espeleología, escalada en roca y otras disciplinas que requieren de un descenso
                    vertical.
                    Nosotros vamos a realizar rappel en la montaña de Moquehue. Esta actividad tiene una capacitacion de
                    media hora y una duracion total de aproximadamente 2 horas.
                </p>

            </article>
        </section>

        <section>
            <h2 id="titulo4">Cabalgata</h2>

             <img class="slider-image"src="/images/cabalgata.jpg" alt="Cabalgata">
            <article>
                <p class="description">
                    La cabalgata es una actividad de esparcimiento y deportiva que utiliza al equino en un medio
                    natural. Vamos a realizar la cabalgata en Villa Pehuenia, Moquehue. Vamos a recorrer diversos
                    senderos y caminos que les va a permitir apreciar la belleza natural de los bosques de Pehuenes o
                    Araucarias. Está actividad es apta para niños, y adultos.

                </p>

            </article>

        </section>
        <section>
            <h2 id="titulo5">Paracaidismo</h2>
             <img class="slider-image" src="/images/paracaidismo.jpg"  alt="Paracaidismo">

            <article>
                <p class="description">

                    El paracaidismo es la técnica de lanzamiento de seres humanos u objetos desde cierta altura
                    usando un paracaídas para amortiguar el impacto del aterrizaje. Se puede realizar desde
                    cualquier aeronave como un avión, helicóptero, globo aerostático o desde un objeto fijo elevado
                    a la altura necesaria. Esta actividad la vamos a realizar desde el mirador de las Antena, desde
                    un globo aerostatico, Contamos con instructores con más de 10 años de experiencia que los
                    ayudarán a vivir una experiencia única y segura.
                    La experiencia tiene una duración de 1,5 media que incluye 1 hora de capacitación.

                </p>
            </article>
        </section>

        <section>
            <h2 id="titulo6">Parapente</h2>
            <img class="slider-image"src="/images/parapente.jpg" alt="Parapente">

            <article>
                <p class="description">

                    El parapente es una aeronave ligera y flexible, hecha únicamente de “cuerdas y tela”. La
                    disciplina deportiva se basa en el vuelo sin motor, despegando de una pendiente y volando
                    aprovechando las corrientes térmicas y dinámicas. Esta hermosa actividad la vamos a realizar
                    desde el mirador de las Antenas. Pudiendo asi apreciar la hermosa vegetacion, la preponderancia
                    de bosques de pehuenes, Esta actividad tiene una duracion de 2 horas, incluye una capacitacion
                    de media hora y una hora y media de vuelo.
                </p>
            </article>

        </section>
        <section>
            <h2 id="titulo7">Ciclismo</h2>

            <img class="slider-image"src="/images/ciclismo.jpg" alt="Ciclismo">

            <article>
                <p class="description">

                    El ciclismo de montaña,es considerado un deporte de riesgo, esta actividad es realizada en
                    circuitos naturales a través de bosques por caminos angostos con cuestas empinadas.
                    Esta actividad la vamos a realizar en Moquehue, es un circuito de 10km. Van a estar acompañados
                    de 2 instructores. La actividad incluye casco,rodilleras, bicicleta apta para montaña, esta
                    actividad, te permitirán contemplar paisajes de intensos colores cordilleranos, modernas
                    edificaciones y vegetación autóctona como Radales, Ñires, Cipreses, Coihues, Lengas y
                    Araucarias.
                    Tiene una duracion de aproximadamente una hora y media.

                <p>
            </article>
        </section>
        <section>

            <h2 id="titulo8">Espeleismo</h2>

            <img class="slider-image" src="/images/Espeleismo.JPG"  alt="Espeleismo">

            <article>
                <p class="description"> Consiste básicamente en explorar cavidades geológicas naturales, valiéndose de
                    técnicas y equipos específicos de descenso y desplazamiento.
                    Está actividad la vamos a realizar en Moquehuá, con instructores que los guiarán y ayudarán desde el
                    inicio.
                    Los mismos sé encuentran capacitados para realizar primeros auxilios.
                    Tiene una duración de 3 horas aproximadamente. Vamos a utilizar arnes, botas con suela anti
                    derrapantes y
                    casco. (sé alquilan por separado y tienen un costo de $1000). Ambas cosas se abonan en efectivo en
                    el lugar.
                </p>
            </article>

        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Recibí nuestras novedades</h4>
                    <ul>
                        <form action="">
                            <div class="email-box">
                                <i class="fa-solid fa-envelope"></i>
                                <input class="tbox" type="email" name="" value="" placeholder="Ingresa tu email">
                                <button class="btn" type="button" name="button">Suscribite</button>
                            </div>
                        </form>
    
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/">Quienes somos</a></li>
                        <li><a href="/productDetail">Actividades</a></li>
                        <li><a href="">Seguridad</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Redes Sociales</h4>
                    <div class="redes-sociales">
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></i></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
    
            </div>
        </div>      
    </footer>

</body>

</html>
