<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Turismo Aventura</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="styleSheet" href="css/header-footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />    
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a href="/" class="logo-text"><img class="logo-header" src="images/Logo.png">
                <h1>Aventyr</h1>
            </a>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
                    <li class="nav-item"><a href="/productDetail" class="nav-link">Actividades</a></li>
                </ul>
            </div>
            <div class="login-button">
                <button><a class="user" href="/login"><i class="fa-solid fa-user"></i>Ingresar</a></button>
                <button><a class="Register" href="/register">Registrarse</a></button>
                <a class="cart" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="menu-toggle"><i class="fa-solid fa-bars"></i></div>
    
    
    
        </nav>
    
    </header>
    <main>
        <form action="/saveInformation" method="post" class="create-form">
            <div class="caja1">
            <div class="h2">
                <h2>Registrarse</h2>
            </div>
           
                <div class="form-control">
                    <label>Nombre:</label>
                    <input type="text" name="name" class="control">
                </div>
                <div class="form-control">
                    <label>Apellido:</label>
                    <input type="text" name="surname" class="control">
                </div>
                <div class="form-control">
                    <label>Email:</label>
                    <input type="email" name="email" placeholder="nombre@gmail.com" class="control">
                </div>
                <div class="form-control">
                    <label>Celular:</label>
                    <input type="tel" name="tel" class="control" placeholder="+54 9 11234000">
                </div>

                <div class="form-control">
                    <label>País</label>
                    <select name="country" class="control">
                        <option value="argentina">Argentina</option>
                        <option value="bolivia">Bolivia</option>
                        <option value="brasil">Brasil</option>
                        <option value="chile">Chile</option>
                        <option value="colombia">Colombia</option>
                        <option value="ecuador">Ecuador</option>
                        <option value="paraguay">Paraguay</option>
                        <option value="peru">Peru</option>
                        <option value="uruguay">Uruguay</option>
                        <option value="venezuela">Venezuela</option>
                        <option value="guyanaFrancesa">Guyana Francesa </option>
                    </select>
                    
                </div>
                <div class="form-control">
                    <label>Contraseña:</label>
                    <input type="password" name="password" class="control">
                </div>
                <div class="form-control">
                    <label>Confirmar Contraseña:</label>
                    <input type="repeat_password" name="repeat_password" class="control">
                </div>
            <div class="caja2">
                <button type="submit" class="form-button">Registrarse</button>
                <div class="pregunta-de-registro">
                    <label>¿Ya eres miembro? <br>
                        Inicia tu sesión</label>
                </div>
                <button type="gmail" class="form-button">Registrarse con Gmail</button>
                <button type="facebook" class="form-button">Registrarse con Facebook</button>
            </div>
            </div>
            </div>
        </div>
        </form>
    </main>
</header>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Recibí nuestras novedades</h4>
                <ul>
                    <form action="">
                        <div class="email-box">
                            <i class="fa-solid fa-envelope"></i>
                            <input class="tbox" type="email" name="" value="" placeholder="Ingresa tu email">
                            <button class="btn" type="button" name="button">Suscribite</button>
                        </div>
                    </form>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Links</h4>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Quienes somos</a></li>
                    <li><a href="/productDetail">Actividades</a></li>
                    <li><a href="">Seguridad</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Redes Sociales</h4>
                <div class="redes-sociales">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></i></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

        </div>
    </div>      
</footer>

</body>

</html>
